@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap');

/* body */
body {
    font-family: 'Baloo 2', Arial, sans-serif;
    margin: 0;
    text-align: center;
    background-color: rgb(244, 246, 243);
    padding-top: 60px;
}

/* title */
h1 {
    margin-top: 60px;
    margin-bottom: 40px;
    color: white;
    font-size: clamp(4.5rem, 3vw, 2.5rem);

    display: inline-block;
    background-color: #9fbea46f;
    padding: 1px 40px;
    border-radius: 10px;
}

/* main page grid */
body.index-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.index-page .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    width: 70%;
    max-width: 1100px;
}

body.index-page .square {
    width: calc(50% - 10px);
    aspect-ratio: 1 / 1;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: white;
    font-size: clamp(3.5rem, 3vw, 2.5rem);
    font-weight: bold;

    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s;
}

body.index-page .square:hover {
    transform: scale(1.05);
}

/* category colors */
body.index-page .cars {
    background-color: #f7e7bce2;
}

body.index-page .style {
    background-color: #bcf7ece2;
}

body.index-page .games {
    background-color: #f7bcf3e2;
}

body.index-page .media {
    background-color: #f7bcbce2;
}

/* Rounded images */
body.index-page .square img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* photo pages */
body.photo-page {
    font-family: 'Baloo 2', Arial, sans-serif;
    margin: 0;
    text-align: center;
    padding-top: 60px;
    background-color: rgb(229, 234, 227);
}

/* page title */
body.photo-page h1 {
    margin-top: 1px;
    margin-bottom: 10px;

    font-family: 'Baloo 2', Arial, sans-serif;
    color: white;
    font-size: clamp(3.5rem, 3vw, 2.5rem);

    display: inline-block;
    background-color: #9fbea46f;
    padding: 1px 40px;
    border-radius: 10px;
}

/* grid container */
body.photo-page .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    width: 70%;
    max-width: 1100px;
    margin: auto;
}

/*  image and caption group */
body.photo-page .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* image squares */
body.photo-page .square {
    width: 100%;
    aspect-ratio: 1 / 1;

    border-radius: 10px;
    overflow: hidden;

    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s;

    display: block;
}

body.photo-page .square:hover {
    transform: scale(1.05);
}

body.photo-page .square img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* caption boxes */
body.photo-page .caption {
    margin: 10px 0;
    background-color: #9fbea46f;
    color: white;
    padding: 2px 25px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 2rem;
}

/* 
   back button
*/
.back-button {
    position: fixed;
    /* fixed position */
    top: 18px;
    /* from top */
    left: 18px;
    /* from left */
    z-index: 9999;
    /* above everything */

    text-decoration: none;
    /* remove underline */
    font-size: 25px;
    /* text size */
    color: rgb(255, 255, 255);
    /* text color */

    background: #9fbea46f;
    /* button background */
    padding: 10px 14px;
    /* inner spacing */
        border-radius: 10px;

    transition: background 150ms ease, transform 150ms ease;
    /* smooth hover */
}

.back-button:hover {
    background: #9fbea43f;
    /* hover background */
    transform: translateY(-2px);
    /* slight lift */
}